<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60" shutdownHook="disable">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%-4r [%t] %-5p %c %x - %m%n" />
    </Console>
</Appenders>
<Loggers>
    <Root level="info">
        <AppenderRef ref="Console" />
    </Root>
</Loggers>
</Configuration>