
<li ng-if="task.wrappedTasks.length == 0" class="list-group-item"
	ng-class="{'list-group-item-info' : task.state == 'NOT_STARTED', 
		 'list-group-item-warning' : task.state == 'RUNNING', 
		 'list-group-item-success' : task.state == 'FINISHED',
		 'list-group-item-danger' : task.state == 'FINISHED_ERROR'}">
	<span class="glyphicon infoText status" title="Success"
			ng-class="{'list-group-item-ban-circle' : task.state == 'NOT_STARTED',
		 'glyphicon-refresh' : task.state == 'RUNNING',
		 'glyphicon-ok' : task.state == 'FINISHED',
		 'glyphicon-remove' : task.state == 'FINISHED_ERROR'}">
	</span>
	{{task.identifier}}
	<span class="pull-right">
		<a href="/restartTask?id={{task.uuid}}" class="glyphicon infoText glyphicon-repeat"></a>
		<a href="/getLog?id={{task.uuid}}" class="glyphicon infoText glyphicon-file"></a>
	</span>
</li>

<li class="list-group-item" ng-if="task.type == 'SEQUENCE'">
	<div ng-repeat="child in task.wrappedTasks">
		<ul class="list-group nobottom">
			<tree task="child"></tree>
		</ul>
		<div class="col-lg-1 col-centered">
			<span class="glyphicon  glyphicon-arrow-down center-block"
				ng-if="!$last"></span>
		</div>
	</div>
</li>

<li class="list-group-item" ng-if="task.type == 'PARALLEL'">
	<ul class="list-group nobottom">
		<div ng-repeat="child in task.wrappedTasks">
			<tree task="child"></tree>
		</div>
	</ul>
</li>
